<div class="control-group">
    <label class="control-label">Title </label>
    <fieldset>
      <label>Traditional Chinese</label>
      <% set_lang "tcn" %>      
      <%=f.text_field :name ,:class=>"span5 m-wrap"%>            
      <label>Simple Chinese</label>
      <% set_lang "cn" %>
      <% chin = f.object %>      
      <%=text_field_tag "cn[name]",chin.name ,:class=>"span5 m-wrap"%>            
      <label>English</label>
      <% set_lang "en" %>
      <% eng = f.object %>      
      <%=text_field_tag "en[name]",eng.name ,:class=>"span5 m-wrap"%>            
    </fieldset>    
</div>

<div class="control-group">
  <label class="control-label">Status </label>
    <div class="controls">
       <%= f.select :state,BlogCategory::STATES.map{|k,v| [v,k]} ,:selected =>f.object.new_record? ? 1 : @blog_category.state ? 1 : 0 %>
      
       
    </div>
</div>
<div class="control-group">
  <label class="control-label">Parent </label>
    <div class="controls">
    <%= f.select :parent_id,nested_set_options(BlogCategory, @blog_category) {|i| "#{'-' * i.level} #{i.name}" },{ include_blank: true }%>
  </div>
</div>
<div class="form-actions">
  <%=f.submit "Save",:class=> "btn blue"%>
  <button type="button" class="btn" onclick="this.form.reset();">Reset</button>
  <button type="button" class="btn" onclick="window.location.href='/admin/blog_categories'">Cancel</button>
</div>