<tr>
  <td><%= image_tag item.variant.featured_image ,class: 'img-left' %><!-- <img src="/assets/main/table-img.jpg" alt="" class=""> -->
    <div class="prd-list-div">
      <span> <%=item.variant.product_name %></span>
      <label>Color: <%=item.variant.color %></label>
      <small>Brand: <%=  item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') %></small>
      <br/>
      <div style="clear:both">Item added on <%= item.created_at.strftime(I18n.translate('time.formats.long_date')) %></div>
      <small>
      </small>
    </div>
  </td>
  <td align="center" class="code-table-data" valign="middle"><%=item.variant.sku%></td>
  <td class="price-table"><%= number_to_currency item.price %></td>
  <td class="quantity-td">

    <%= cart_items_form.text_field :quantity, :size=>"2" ,class: "span1" %>
    <a href="#;return false;" onclick="javascript:add_val('<%=i%>')"><img src="/assets/main/add-icon.gif" alt="" class="add-btn-inp"></a></td>
  <td class="sub-total"><%= number_to_currency item.price.to_f * cart_items_form.object.quantity.to_f %></td>
  <td class="close-icon-td"><%= link_to image_tag("/assets/main/close-icon.png"), shopping_cart_item_path(item, :variant_id => item.variant_id),:method => :delete, :class => 'button tiny' %><%#= link_to 'Save for Later',move_to_shopping_cart_item_path(item, :variant_id => item.variant_id,:item_type_id     => ItemType::SAVE_FOR_LATER_ID),:method           => 'put',:class            => 'button tiny secondary' %>
  </td>
</tr>


