<%= form_for session_cart, url: shopping_cart_item_path(session_cart), html: {class: 'custom'}, :as => :cart do |cart_form| %>
  <%total_price= 0 %>
  <% unless @cart_items.blank? %>
    <% @cart_items.each_with_index do |item, i| %>
      <%= cart_form.fields_for :shopping_cart_items, item do |cart_items_form| %>
        <% item.created_at.strftime(I18n.translate('time.formats.long_date')) %>
        <%  item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') %><br/>
        <% item.variant.display_stock_status('', '') %>
        <% number_to_currency item.price %>
        <% total_price += (item.price*item.quantity)%>
        <%= cart_items_form.hidden_field :quantity, :size=>"2" %>
      <% end %>
    <% end %>
  <%end%>
  <div class="span4 pull-right shp-bag" id="home_cart">
    <div class="bag-hd">
      <h4><img src="/assets/main/bag-icon.gif" alt=""> Shopping Bag</h4>
      <a href="javascript:void(0);" class="close-icon" onclick="$('#home_cart').slideUp()"></a>
    </div>
    <ul>
      <li class="item-bag">
        <label><%if @cart_items.present?%><%=@cart_items.size%><%else%>0<%end%> Items:</label>
        <label>$<%=total_price%></label>
        <a href="#" class="view-bag">View Bag</a> </li>
      <li class="total-bag">
        <label>Total:</label>
        <label>$<%=total_price%></label>
        <%= cart_form.submit 'Check Out', {:checkout => 1, :class => 'small button success checkout'} %>
        </li>
    </ul>
  </div>
<%end%>