<div class="row-fluid breadcrumb-full-bg">
  <div class="container">
    <h1>Shopping Bag</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> <span class="divider">→</span></li>
      <li class="active">Shopping Bag</li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="checkout-option">
    <div class="row">
      <div class="span12 checkout-header"><a href="#" class="arrow-checkout">&nbsp;</a><span>Confirm Order</span>
        <!-- <img src="/assets/main/bot-line-checkout.gif" alt="" class="bot-line-checkout">  -->
      </div>
    </div>
    <div class="confirm-order confirm-order-table">
      <%= form_for session_cart, url: shopping_cart_item_path(session_cart), html: {class: 'custom'}, :as => :cart do |cart_form| %>
        <%unless @cart_items.blank? %>
          <table class="table table-bordered table-striped final-order">
            <thead>
              <tr>
                <th><span>Product</span></th>
                <th><span>Code</span></th>
                <th><span>price</span></th>
                <th><span>Quantity</span></th>
                <th><span>Subtotal</span></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @cart_items.each_with_index do |item, i| %>
                <%= cart_form.fields_for :shopping_cart_items, item do |cart_items_form| %>
                  <%= render :partial => 'cart_item', :locals => {:cart_items_form => cart_items_form, :item => item, :i => i }%>
                <% end %>
              <% end %>
              
            </tbody>
            <tbody>
              <tr>
                <td colspan="3">
                </td>
                <td colspan="3">
                  <%= cart_form.submit 'update', :class => 'tiny button btn-commen-blue-inp inp-btn-170' %>
                  <%= cart_form.submit 'checkout', {:checkout => 1, :class => 'small button success btn-commen-blue-inp inp-btn-170 pull-right'} %>
                </td>
              </tr>  
          </table>
        <%else%>
          There are no items in your cart at present you can add items to cart to go further ...! <%=link_to 'click_here',"/"%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
