<div>
  
</div>

<div id="footer_wrapper" class='row'>
  <div  class='nine large-9 columns'>
    <ul id='main-footer-tabs' class='inline-list'>
      <li>   <%=link_to "About Us","/about-us"%></li>
      <li><%=link_to "Contact Us","/contact-us"%></li>
      <li><%=link_to "Privacy Policy","/privacy-policy"%></li>
      <li><%=link_to "Terms & Conditions","/terms-conditions"%></li>
      <li><%=link_to "Help","/help-support"%></li>
      <li><%=link_to "Blogs","/blogs"%></li>
    </ul>
  </div>
</div>
