<!-- <ul>	
	<li class="tab1"><a href="/welcome/index?option=brand"><span>Brand</span></a></li>
	<li><a href="/welcome/index?option=style"><span>Style</span></a></li>
	<li><a href="<%#=products_path(:option=>"gender")%>"><span>Gender</span></a></li>
	<li><a href="<%#=products_path(:option=>"hot")%>"><span>Hot</span></a></li>
  <li><a href="#"><span>News</span></a></li>
	<li><a href="<%=blogs_path()%>"><span>Blog</span></a></li>
	<li><a href="#"><span>Show</span></a></li>
 </ul>
-->
<%=render partial: "/layouts/top_slider"%>
<section>
  <div class="container midd-cont">
    <div class="featured-main">
      <div class="row-fluid">
        <%span_bg_classes=['feat-txt1','feat-txt1 light-blue-bg','feat-txt1 pink-bg']%>
        <%span_bg_titles=['Am Design Studio','spring 2014','summer Sale']%>
        <%span_bg_caps=['Featured designer','Style Guide','up to 50% off']%>
        <% span_bg_urls = ['/designers','/blogs','/']%>
        <%@banner_main_small.each_with_index do |banner,index| %>
          <div class="span4">
            <%=link_to image_tag(banner.image.url(:original))+"<span class='#{span_bg_classes[index]}'>#{span_bg_titles[index]}<small>#{span_bg_caps[index]}</small></span>".html_safe,span_bg_urls[index]%>
          </div>
        <%end%>
      </div>
    </div>
    <div class="clear"></div>
      <div class="slider-container">
        <ul class='tabs super-hot-tab'>
          <li><a href='#tab1'>Super Hot</a></li>
          <li><a href='#tab2'>Featured</a></li>
          <li><a href='#tab3'>New arrivals</a></li>
        </ul>
        <div class="clear"></div>
          <div id='tab1'>
            <div id="slider1" class="slider1">
              <a class="buttons prev" href="#" data-slide="prev"></a>
                <div class="viewport">
                  <ul class="overview">
                    <%@super_hot_proudcts.uniq.flatten.each do |product|%>   
                      <li>
                        <%=render partial: "slide_product",locals: {product: product,:variant=> nil}%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              <a class="buttons next" href="#" data-slide="next"></a>
            </div>
          </div>
          <div id='tab2'>
            <div id="slider2" class="slider1">
              <a class="buttons prev" href="#" data-slide="prev"></a>
                <div class="viewport">
                  <ul class="overview">
                    <%@featured_proudcts.uniq.flatten.each do |product|%>    
                      <li>
                        <%=render partial: "slide_product",locals: {product: product,:variant=> nil}%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              <a class="buttons next" href="#" data-slide="next"></a>
            </div>
          </div>
          <div id='tab3'>
            <div id="slider3" class="slider1">
              <a class="buttons prev" href="#" data-slide="prev"></a>
                <div class="viewport">
                  <ul class="overview">
                    <%@new_products.uniq.flatten.each do |product|%>   
                      <li>
                        <%=render partial: "slide_product",locals: {product: product,:variant=> nil}%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              <a class="buttons next" href="#" data-slide="next"> </a>
            </div>
          </div>
        <div class="row-fluid slider-brd"><a href="#"><img alt="" src="assets/img/slider-line.gif"></a> 
        </div>
        <div class="clear"></div>
        </div>
        <div class="row blog-slider-space">
        <div class="span6">
          <div class="blog-slider">
            <div class="pre-next"> 
              <a href="#MyBlogs" data-slide="prev" class="pre">Pre</a> 
              <a href="#MyBlogs" class="next" data-slide="next">Next</a> 
            </div>
            <h1>From The Blog</h1>
            <div id="MyBlogs"class="carousel slide">
              <div class="carousel-inner">
                <%@latest_blogs.each_with_index do |blog,index|%>
                  <div class="<% if index == 0 %>active<%end%> item" id="<%=index%>">  
                    <div class="row slider-cont ">
                      <div class="span3 relative"><%=link_to image_tag(blog.image.url),blog_path(blog)%>
                       <%if blog.video_url.present?%>
                        <a href="#"><img src="/assets/main/play-icon.png" alt="" class="play-icon"> </a>
                       <%end%>
                      </div>
                      <div class="span3 blog-img-detail">
                        <h2><%=blog.title%></h2>
                        <h3><a href="<%=blogs_path(blog_category_id: blog)%>"><%=blog.blog_category.name%></a></h3>
                        <p><%=truncate(strip_tags(blog.description), length: 250)%></p>
                        <a href="<%=blog_path(blog)%>" class="read-more">Read more &rsaquo;</a> </div>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="blog-slider">
            <div class="pre-next"> 
              <a href="#MyFeaturedDesingers" data-slide="prev" class="pre">Pre</a> 
              <a href="#MyFeaturedDesingers" class="next" data-slide="next">Next</a> 
            </div>
            <h1>Featured Designers</h1>
            <div id="MyFeaturedDesingers"class="carousel slide">
              <div class="carousel-inner">
                <%@featured_designers.each_with_index do |designer,index|%>
                  <div class="<% if index == 0 %>active<%end%> item" id="<%=index%>">  
                    <div class="row slider-cont">
                      <%if designer.present? && designer.images.present?%>
                        <%if  designer.images[0].photo.present?%>
                        <div class="span3"><%=image_tag(designer.images[0].photo.url)%></div>
                        <div class="span3 blog-img-detail">
                          <h2><%=designer.name%></h2>
                          <h3><a href="#"><%=designer.first_name%> <%=designer.last_name%></a></h3>
                          <p>Sed a mattis dolor. Aliquam condimentum, ipsum in sodales malesuada, sapien lacus pretium elit, in ultricies lacus orci vel tortor. Suspendisse porta volutpat risus,  scelque nisi pharetra quis. Maecenas velit dolor, varius eu sem et, eleifend porta nisl. </p>
                          <a href="#" class="read-more">Read more &rsaquo;</a> </div>
                        <%end%>
                        <%end%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="slider-container">
        <ul class='tabs super-hot-tab'>
          <li><a href='#tab4'>Super Hot</a></li>
          <li><a href='#tab5'>50% off</a></li>
          <li><a href='#tab6'>30% off</a></li>
          <li><a href='#tab7'>20% off</a></li>
        </ul>
        <div class="clear"></div>
          <div id='tab4'>
            <div id="slider4" class="slider1">
              <a class="buttons prev" href="#" data-slide="prev"></a>
                <div class="viewport">
                  <ul class="overview">
                    <%@super_hot_proudcts.flatten.each do |product|%>   
                      <li>
                        <%=render partial: "slide_product",locals: {product: product,:variant=> nil}%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              <a class="buttons next" href="#" data-slide="next"></a>
            </div>
          </div>
          <div id='tab5'>
            <div id="slider5" class="slider1">
              <a class="buttons prev" href="#" data-slide="prev"></a>
                <div class="viewport">
                  <ul class="overview">
                    <%@discount_fifties.uniq.each do |variant_fifty|%>    
                      <li>
                        <%=render partial: "slide_product",locals: {product: variant_fifty.product,:variant=> variant_fifty}%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              <a class="buttons next" href="#" data-slide="next"></a>
            </div>
          </div>
          <div id='tab6'>
            <div id="slider6" class="slider1">
              <a class="buttons prev" href="#" data-slide="prev"></a>
                <div class="viewport">
                  <ul class="overview">
                    <%@discount_thirties.uniq.each do |variant_thirty|%>   
                      <li>
                        <%=render partial: "slide_product",locals: {product: variant_thirty.product,:variant=> variant_thirty}%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              <a class="buttons next" href="#" data-slide="next"> </a>
            </div>
          </div>
          <div id='tab7'>
            <div id="slider7" class="slider1">
              <a class="buttons prev" href="#" data-slide="prev"></a>
                <div class="viewport">
                  <ul class="overview">
                    <%@discount_twenties.uniq.each do |variant_twenty|%>   
                      <li>
                        <%=render partial: "slide_product",locals: {product: variant_twenty.product,:variant=> variant_twenty}%>
                      </li>
                    <%end%>
                  </ul>
                </div>
              <a class="buttons next" href="#" data-slide="next"> </a>
            </div>
          </div>
        <div class="row-fluid slider-brd"><a href="#"><img src="/assets/main/slider-line.gif" alt="" /></a> </div>
      </div>
       <div class="row blog-slider-space">
        <div class="span6">
          <div class="blog-slider">
            <div class="pre-next"> 
              <a href="#MyBlogs" data-slide="prev" class="pre">Pre</a> 
              <a href="#MyBlogs" class="next" data-slide="next">Next</a> 
            </div>
            <h1>From The Blog</h1>
            <div id="MyBlogs"class="carousel slide">
              <div class="carousel-inner">
                <%@latest_blogs.each_with_index do |blog,index|%>
                  <div class="<% if index == 0 %>active<%end%> item" id="<%=index%>">  
                    <div class="row slider-cont ">
                      <div class="span3 relative"><%=link_to image_tag(blog.image.url),blog_path(blog)%>
                       <%if blog.video_url.present?%>
                        <a href="#"><img src="/assets/main/play-icon.png" alt="" class="play-icon"> </a>
                       <%end%>
                      </div>
                      <div class="span3 blog-img-detail">
                        <h2><%=blog.title%></h2>
                        <h3><a href="<%=blogs_path(blog_category_id: blog)%>"><%=blog.blog_category.name%></a></h3>
                        <p><%=truncate(strip_tags(blog.description), length: 250)%></p>
                        <a href="<%=blog_path(blog)%>" class="read-more">Read more &rsaquo;</a> </div>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="blog-slider">
            <div class="pre-next"> 
              <a href="#MyFeaturedDesingers" data-slide="prev" class="pre">Pre</a> 
              <a href="#MyFeaturedDesingers" class="next" data-slide="next">Next</a> 
            </div>
            <h1>Featured Designers</h1>
            <div id="MyFeaturedDesingers"class="carousel slide">
              <div class="carousel-inner">
                <%@featured_designers.each_with_index do |designer,index|%>
                  <div class="<% if index == 0 %>active<%end%> item" id="<%=index%>">  
                    <div class="row slider-cont">
                      <%if designer.present? && designer.images.present?%>
                        <%if  designer.images[0].photo.present?%>
                        <div class="span3"><%=image_tag(designer.images[0].photo.url)%></div>
                        <div class="span3 blog-img-detail">
                          <h2><%=designer.name%></h2>
                          <h3><a href="#"><%=designer.first_name%> <%=designer.last_name%></a></h3>
                          <p>Sed a mattis dolor. Aliquam condimentum, ipsum in sodales malesuada, sapien lacus pretium elit, in ultricies lacus orci vel tortor. Suspendisse porta volutpat risus,  scelque nisi pharetra quis. Maecenas velit dolor, varius eu sem et, eleifend porta nisl. </p>
                          <a href="#" class="read-more">Read more &rsaquo;</a> </div>
                        <%end%>
                        <%end%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function(){
  // Removed slider mirrored class li's in sliders
  $( ".mirrored" ).remove();
})
</script>