<% if @brand.errors.any? %>
  <div id="error_explanation">
    <h2 class="page-title"><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

    <ul>
    <% @brand.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<label>Name</label>
<fieldset>
	<label>Traditional Chinese</label>
	<% set_lang "tcn" %>
	<%= f.text_field :name %>
	<label>Simple Chinese</label>
	<% set_lang "cn" %>
	<% chin = f.object %>
	<%= text_field_tag "cn[name]",chin.name %>
	<label>English</label>
	<% set_lang "en" %>
	<% eng = f.object %>
	<%= text_field_tag "en[name]",eng.name %>
</fieldset>
<%if current_user%>
	<%=f.hidden_field :user_id ,:value=> current_user.id%>
<%end%>