<fieldset>
  <label>Name</label>
    <fieldset>
      <label>Traditional Chinese</label>
      <% set_lang "tcn" %>
      <%= form.text_field :name %>
      <label>Simple Chinese</label>
      <% set_lang "cn" %>
      <% chin = form.object %>
      <%= text_field_tag "cn[name]",chin.name %>
      <label>English</label>
      <% set_lang "en" %>
      <% eng = form.object %>
      <%= text_field_tag "en[name]",eng.name %>
</fieldset>
  <%if current_user%>
  	<%=form.hidden_field :user_id ,:value=> current_user.id%>
  <%end%>
  <label>Active</label>
  <%= form.check_box :active %>
</fieldset>

<fieldset>
  <legend>Properties</legend>
  <div id="prototype_properties">
    <%= render :partial => "property_form", :locals => { :form => form } %>
  </div>
</fieldset>