<%= render :partial => '/admin/merchandise/sub_header'%>

<% content_for :sidemenu do %>
  <div class='admin_filters'>
    <%= form_tag admin_merchandise_prototypes_path, :method => 'get', :id => "products_search" do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>

      <label>Name</label>
      <%= text_field_tag :name, params[:name] %>
      <div style="text-align:center">
        <%= submit_tag "Search", :name => nil, :class => 'button red-button' %>
      </div>
    <% end %>
  </div>
<% end %>

<div class='admin_title_header'>
  <h3 class="page-title">Variant Groups</h3>
  <%= link_to "New Variant Group", new_admin_merchandise_prototype_path, :class  => "button"%>
</div>

<div class="admin_prototypes">
  <div class="admin_users">
    <%=render :partial=>"/shared/filters"%>
  </div>

  <table class="table table-striped table-hover table-bordered table-hd" >
    <thead>
    <tr class='odd'>
      <th class='column1_header'><%= sortable "name" %></th>
      <%if current_user.admin? || current_user.role?("SuperAdmin")%>
          <th class="text-center">Edit</th>
          <th class="text-center">Active/Inactive</th>
      <%end%>
    </tr>
    </thead>
    <% @prototypes.each do |prototype| %>
      <tr class='<%= cycle("odd", "")%>'>
        <td><%= link_to prototype.name, edit_admin_merchandise_prototype_path(prototype) %></td>
        <%if current_user.admin? || current_user.role?("SuperAdmin")%>
          <td class="text-center">
            <a href="<%=edit_admin_merchandise_prototype_path(prototype)%>"><i class="icon-edit icon-center-edit"></i></a>
          </td>
          <td class="text-center">
            <% if prototype.active.to_s == "true" %>
              <%= link_to("Inactive","/admin/merchandise/prototypes/#{prototype.id}",:method=>"DELETE",:confirm=>"Are you sure you want to Inactive?")%>
            <%else%>
              <%= link_to("Active","/admin/merchandise/prototypes/#{prototype.id}",:method=>"DELETE",:confirm=>"Are you sure you want to Active?")%>
            <%end%>
          </td>
        <%end%>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @prototypes , :previous_label => "<", :next_label => ">" %>
</div>
