<h1> New Image Group </h1>

<%= form_for @image_group, :url => admin_merchandise_image_groups_path(@image_group) do |f| %>
  <%= f.error_messages %>
  <ul>
    <li class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%if current_user%>
        <%=f.hidden_field :user_id ,:value=> current_user.id%>
      <%end%>
    </li>
    <li class="field">
      <%= f.label :product_id %>
      <%if current_user%>
        <%= f.select :product_id, products, :include_blank => true %>
      <%else%>
        <%= f.select :product_id, products, :include_blank => true %>
      <%end%>
    </li>
  </ul>

  <div class="actions"><%= f.submit 'Create' , :class => 'button' %></div>
<% end %>

<p><%= link_to "Back to List", admin_merchandise_image_groups_path, :class => 'button' %></p>
