<div class="row-fluid breadcrumb-full-bg">
  <div class="container">
    <h1>Shopping Bag</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> <span class="divider">→</span></li>
      <li class="active">Shopping Bag</li>
    </ul>
  </div>
</div>
<div class="container">
  <%= form_tag( shopping_order_path(@order.id),method: :put,html:  {class: 'custom'},id:    'purchase_order') do  %>
    <div class="checkout-option">
      <div class="span5 delivery-meth-box">
        <h4>Delivery Method</h4>
        <div class="delivery-meth-box-inner">

            <div class="row-fluid">
              <label>First Name*</label>
              <%= text_field_tag(:first_name, @credit_card.first_name,:placeholder=>"Ryan") %>
              <!-- <a href="#" class="btn-get-quote">Get a Quote</a>  -->
            </div>
            <div class="row-fluid">
              <label>Last Name*</label>
              <%= text_field_tag(:last_name, @credit_card.last_name,:placeholder=>"Bates") %>
            </div>
            <div class="row-fluid">
              <label>Credit Card Number</label>
              <%= text_field_tag(:number, @credit_card.number ,:class => ' disableAutoComplete', :autocomplete => "on",:placeholder=>"4024007148673576") %>
            </div>
            <div class="row-fluid">
              <label>VCC</label>
              <%= text_field_tag(:verification_value, @credit_card.verification_value ,:class => 'disableAutoComplete', :autocomplete => "on",:placeholder=>"123") %>
            </div>
            <div class="row-fluid">
              <label>Type</label>
              <%= select_tag(:type, options_for_select(['visa', 'mastercard'])) %>
            </div>
            <div class="row-fluid">
              <label>Month</label>
              <%= select_tag(:month, options_for_select(['01', '02',  '03', '04', '05', '06', '07', '08', '09', '10', '11', '12' ])) %>
            </div>
            <div class="row-fluid">
              <label>Year</label>
              <%= select_tag(:year, options_for_select((Time.zone.now.year..(Time.zone.now.year + 10)))) %>
            </div>

        </div>
      </div>
      <div class="span6">
        <div class="total-list">

          <div class="row-fluid">
            <label>Shipping Address : </label>
            <label class="price">
              <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
              <%= link_to 'Change address', shopping_addresses_path, :class => 'button tiny green' %>
            </label>
          </div>
          <div class="row-fluid">
            <label><strong>Item</strong></label>
            <label class="price"><strong>Price + Tax</strong></label> 
            <label class="price"><strong>Price</strong></label>
          </div>
          <% @order.order_items.each do |item| %>
          <div class="row-fluid">
          
            <label><%= item.variant.product.name %></label>
            <label class="price"><%= number_to_currency item.price %></label>
            <label class="price"><%= number_to_currency item.total %></label>
          
          </div>
          <% end %>
          <div class="row-fluid">
            <label>Sub Total : </label>
            <label class="price"><%= number_to_currency @order.sub_total %></label>
          </div>
          <div class="row-fluid">
            <label>Shipping Charges : </label>
            <label class="price"><%= number_to_currency @order.shipping_charges %></label>
          </div>
          <div class="row-fluid">
            <label>Sub Total : </label>
            <label class="price"><%= number_to_currency @order.sub_total %></label>
          </div>
          <div class="row-fluid">
            <label>Tax : </label>
            <label class="price"><%= number_to_currency @order.taxed_amount %></label>
          </div>
          <div class="row-fluid">
            <label>Total : </label>
            <label class="price"><%= number_to_currency @order.credited_total %></label>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div class="span12 btn-form-center">
              <%= submit_tag 'Complete Order', :class => 'button success btn-commen-blue-inp width-250-inp' %>  
      </div>
  </div>
  <% end %>
</div>


