<div class="row-fluid breadcrumb-full-bg">
  <div class="container">
    <h1>Order # <%= @order.number %></h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> <span class="divider">→</span></li>
      <li><a href="/myaccount/overview">My profile</a> <span class="divider">→</span></li>
      <li><a href="/myaccount/orders">Purchase History</a> <span class="divider">→</span></li>
      <li class="active">Order # <%= @order.number %></li>
    </ul>
  </div>
</div>
<div class="container">

  <div class='nine large-9 columns'>
    <div class='pretty_table ten'>
      <table style='margin: 0;' class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class='left-align span3'><strong> Number: </strong></td><td> <%= @order.number %> </td>
          </tr>
          <tr>
            <td class='left-align'><strong> Completed at: </strong></td><td> <%= @order.display_completed_at %> </td>
          </tr>
          <tr>
            <td class='left-align'> <strong>Shipping Address: </strong></td>
            <td>
              <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} if @order.ship_address_id%>
            </td>
          </tr>
          <tr>
            <td class='left-align'><strong> Billing Address: </td>
            <td>
              <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} if @order.bill_address_id %>
            </td>
          </tr>

          <tr>
            <td COLSPAN=2> Items </td>
          </tr>
          <% @order.order_items.each do |item| %>
            <tr>
              <td class='left-align' > <%= item.variant.product_name %> </td>
              <td>
                <%if item.variant.image_group.present? %> 
                  <%=image_tag (item.variant.image_group.images[0].photo.url(:small))%>
                <%end%>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

