<div class="control-group">
    <label class="control-label">Title </label>
    <div class="controls">
      <fieldset>
        <label>Traditional Chinese</label>
        <% set_lang "tcn" %>      
        <%=f.text_field :title ,:class=>"span5 m-wrap"%>            
        <label>Simple Chinese</label>
        <% set_lang "cn" %>
        <% chin = f.object %>      
        <%=text_field_tag "cn[title]",chin.title ,:class=>"span5 m-wrap"%>            
        <label>English</label>
        <% set_lang "en" %>
        <% eng = f.object %>      
        <%=text_field_tag "en[title]",eng.title ,:class=>"span5 m-wrap"%>            
      </fieldset>        
       <!-- <div class="pull-right"> Required Fields </div> -->
    </div>
 </div>
 <div class="control-group">
    <label class="control-label">Content </label>
    <div class="controls">
      <fieldset>
        <label>Traditional Chinese</label>
        <% set_lang "tcn" %>      
        <%=f.cktext_area :content ,:class=>"span5 m-wrap"%>            
        <label>Simple Chinese</label>
        <% set_lang "cn" %>
        <% chin = f.object %>      
        <%=cktext_area_tag "cn[content]",chin.content ,:class=>"span5 m-wrap"%>            
        <label>English</label>
        <% set_lang "en" %>
        <% eng = f.object %>      
        <%=cktext_area_tag "en[content]",eng.content ,:class=>"span5 m-wrap"%>            
      </fieldset>      

       <!-- <input type="text" class="span5 m-wrap" /> -->
       <!-- <div class="pull-right"> Required Fields </div> -->
    </div>
 </div>
<div class="control-group">
  <label class="control-label">Status </label>
    <div class="controls">
       <%= f.select :state,StaticPage::STATES.map{|k,v| [v,k]} ,:selected =>f.object.new_record? ? 1 : @static_page.state ? 1 : 0 %>
    </div>
</div>

<div class="form-actions">
  <%=f.submit "Save",:class=> "btn blue"%>
  <button type="button" class="btn" onclick="this.form.reset();">Reset</button>
  <button type="button" class="btn" onclick="window.location.href='/admin/static_pages'">Cancel</button>
</div>