<fieldset>
  <legend>New User</legend>

  <div class="row">
    <div class="six large-6 columns">
      <label>First Name</label>
      <%= form.text_field :first_name %>

      <label>Email Address</label>
      <%= form.text_field :email %>
      <label>Phone</label>
      <%= form.text_field :phone %>
      
      
      <%#user_images = User.find(params[:id]).images if params[:id].present?%>
      <%#@user_image = user_images.present? ? user_images[0] : User.find(params[:id]).images.new %>
      
      <%= form.fields_for :images, @user_image do |image_form|%>
        <label>Photo</label>
        <% if !image_form.object.new_record? %>
          <%= image_tag image_form.object.photo.url(:small) %>
        <% end %>
        <%= image_form.file_field   :photo %>
      <% end %>


    </div>

    <div class="six large-6 columns">
      <label>Last Name</label>
      <%= form.text_field :last_name %>
      <label>Birth Date</label>
      <%= form.text_field :bday %>
      <label>Birth Date</label>
      <%= form.text_area :about_me ,:rows=> 3%>
      <label>State</label>
      <%= form.select :state, @states %>
      <%if current_user.admin? or current_user.super_admin?%>
        <label>State</label>
        <%= form.select :featrued,User::FEATURED.map{|k,v| [v,k]},:selected =>form.object.new_record? ? 1 : @user.featrued ? 1 : 0 %>
      <%end%>
    </div>
  </div>
</fieldset>

<% if current_user.super_admin? %>
  <fieldset id="admin-password" class='span-12'>
    <p>Leave blank if you don't want to change the password.</p>
    <ul>
      <li>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </li>
      <li>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
      </li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>User Roles</legend>
    <% @all_roles.each do |role| %>
      <div class="property_form left span-9 last">
        <% checked = @user.id && @user.roles.include?(role)%>
        <%= check_box_tag "user[role_ids][]", role.id, checked %>
        <%= role.name %>
      </div>
    <% end %>
  </fieldset>
<% end %>
