<div class="control-group">
    <label class="control-label">Title </label>
    <div class="controls">
       <%=f.text_field :title ,:class=>"span5 m-wrap"%>
       <!-- <div class="pull-right"> Required Fields </div> -->
    </div>
</div>
<div class="control-group">
  <label class="control-label">Status </label>
    <div class="controls">
       <%= f.select :blog_category_id,BlogCategory.active.map { |e| [e.name,e.id]  } ,:selected =>@blog.blog_category_id %>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">
     <%= f.cktext_area :description, :class => 'someclass', :ckeditor => {:language => 'eng'} %>
     </div>
</div>
<div class="control-group">
    <label class="control-label">Youtube Video URL </label>
    <div class="controls">
     <%= f.text_field :video_url, :class => 'someclass', :ckeditor => {:language => 'eng'} %>
     </div>
</div>

 <div class="control-group">
    <label class="control-label">Banner</label>
    <div class="controls">
        <%if f.object.image.present?%><%=image_tag(f.object.image.url(:small))%><%end%>
        <%= f.file_field   :image %>
    </div>
 </div>

<div class="control-group">
  <label class="control-label">Status </label>
    <div class="controls">
       <%= f.select :state,Blog::STATES.map{|k,v| [v,k]} ,:selected =>f.object.new_record? ? 1 : @blog.state ? 1 : 0 %>
       <%=f.hidden_field :user_id,:value=>current_user.id.to_s%>
       
    </div>
</div>
<div class="form-actions">
  <%=f.submit "Save",:class=> "btn blue"%>
  <button type="button" class="btn" onclick="this.form.reset();">Reset</button>
  <button type="button" class="btn" onclick="window.location.href='/admin/blogs'">Cancel</button>
</div>