<div class="span6">
  <div class="prd-left-list"> 
    <div id="slideshow-carousel" >       
      <ul id="carousel" class="jcarousel jcarousel-skin-tango">
        <% if @current_variant.present? && @current_variant.image_group.present? %>            
          <% @current_variant.image_group.images.each_with_index do |image,index| %>
            <li class="prd-thumb"><a href="#" rel="p<%=index%>"><%= image_tag(image.photo.url(:large),:width=>135,:height=>175) %></a></li>
          <% end %>            
        <% elsif @product.images.size == 0 %>
          <li class="prd-thumb"><a href="#" rel="p0"><%= image_tag(@product.featured_image(:large),:width=>135,:height=>175) %></a></li>
        <% else %>
          <% @product.images.each_with_index do |i,index| %>
            <li class="prd-thumb"><a href="#" rel="p<%=index%>"><%= image_tag(i.photo.url(:large),:width=>135,:height=>175) %></a></li>
          <% end %>
        <% end %>  
      </ul>
    </div>
  </div>
  <div id="slideshow-main" class="prd-big-img">
    <ul>
      <% if @current_variant.present? && @current_variant.image_group.present? %>
        <% @current_variant.image_group.images.each_with_index do |image,index| %>
          <li class="p<%=index%> <%= index == 0 ? 'active' : '' %>">            
            <a href="#" rel="p<%=index%>"><%= image_tag(image.photo.url(:original),:width=>410) %></a>            
          </li>
        <% end %>
      <% elsif @product.images.size == 0 %>
        <li class="p0 active">          
          <a href="#" rel="p0"><%= image_tag(@product.featured_image(:original),:width=>410) %></a>          
        </li>
      <% else %>
        <% @product.images.each_with_index do |i,index| %>
          <li class="p<%=index%> <%= index == 0 ? 'active' : '' %>">              
            <a href="#" rel="p<%=index%>"><%= image_tag(i.photo.url(:original),:width=>410) %></a>            
          </li>
        <% end %>
      <% end %>        
    </ul>                   
  </div>
</div>
<div class="span6 prd-detail">  
  <h1>
    <%if current_user%>
      <div id="fav_login">
        <%if @rock_product.present?%>

          <%=link_to image_tag("/assets/main/fav-icon-blue.png")+"Unfavorite",rock_product_path(@product,:unrock=>true),:remote=>true,:class=>"add-fav",:id=>"fav_login" %>
        <%else%>
          <%=link_to image_tag("/assets/main/fav-icon-blue.png")+" Add to favorites",rock_product_path(@product),:remote=>true,:class=>"add-fav" ,:id=>"fav_login"%>

        <%end%>
      </div>
    <%else%>
      <%=link_to image_tag("/assets/main/fav-icon-blue.png")+" Add to favorites",login_path,:class=>"add-fav"%>
    <%end%>
    <%= @product.name %>
  </h1>
  <div class="add-favted">
    <h3><img src="/assets/main/fav-icon-blue.png" alt="">
      <span id="fav">
        Favorited (<%=@product.product_rocks.size%>)</h3>
      </span> 
    <div class="favted-right"><span>5 review(s)</span> | <a href="#">Add Your Review</a></div>
  </div>
  <div class="prd-detail-cat">
    <label>
      Availability: 
      <span>
        <%= @current_variant.inventory.count_on_hand.to_i %>
        <% if  @current_variant && @current_variant.inventory.count_on_hand.to_i <= 0 %>
          No Stock
        <% elsif  @current_variant && @current_variant.low_stock? %>
          Low Stock<!-- (<%#=@current_variant.inventory.count_on_hand%>) -->
        <% else %>
          In Stock
        <%end%>
      </span>
    </label>
    <label>
      Variants: 
      <span>
        <% @product.active_variants.each_with_index do |v,index| %>
          <%= link_to v.name, change_variant_path(@product.id,v.id),:remote=> true %> <%= "|" if (index+1) < @product.active_variants.count %>
        <% end %>
      </span>
    </label>
    <label>Current Variant: <span><%=@current_variant.name if @current_variant %></span></label>  
    <label>Product Code: <span>483512569</span></label>
    <label>Designer: <span><%= @product.user.to_s %></span></label>
    <label>Shipping: <span>$<%= @product.shipping_category.shipping_rates.select("min(rate) as shipping_rate , id ").first[:shipping_rate].to_f if @product.shipping_category.present? %></span></label>
  </div>
  <!-- <div class="prd-detail-desc">
    <h4>Description:</h4>
    <p><%#= raw @product.description %></p>
  </div>   -->
  <div class="prd-option">
    <% params[:select_property] ||= {} %>         
    <%#= form_tag product_path(@product),:method=>:get ,:id=>"select_property_form",:style=>"float: left;" do%>
    <%=form_tag ("/get_property_product") ,:id=>"select_property_form",:style=>"float: left;",:remote=> true do%>
      <% @current_variant.properties.each_with_index do |pro,index| %>
        <%= hidden_field_tag "id",@product.permalink %>
        <% property_valriants = get_properties_values(pro.variant_properties) %>             
        <%= select_tag "select_property[#{pro.id}]",options_for_select([["#{pro.display_name}",""]]+property_valriants,:selected=>params[:select_property]["#{pro.id}"].to_s),:class=>"#{index==0 ? 'width-160-select' : ''}",:class=>"product_variant",:onchange=>"$('#select_property_form').submit();" if property_valriants.present? && property_valriants.is_a?(Array) %>            
      <% end %>    
    <% end %>
    <%= form_for  @cart_item,:url  => shopping_cart_items_path(@cart_item),:html => { :id => '', :class => '' } do |f| %>
      <% left_quantity = @current_variant.inventory.present? ? @current_variant.inventory.count_on_hand.to_i : 0 %>
      <%= select_tag "cart_item[quantity]",options_for_select([["Quantity",""]]+(1..left_quantity).to_a),:class=>"right" %>    
      <%= f.hidden_field :variant_id %>
  </div>
    <div class="price-bag">
      <span><%= number_to_currency @current_variant.price %></span>
       <% if @current_variant.present? %>
          <%= f.submit 'Add to Bag', :class => 'btn-bag small button',:id=>"add_to_bag" %>
      <% end %>      
    </div>
  <% end %>
  <div class="prd-share">
    <div class="bot-blue-line-img"><%= image_tag("/assets/bot-blue-line.gif")%></div>
    <span>Share:</span>
    <div class="share-div"><%= image_tag("/assets/share-img.gif") %></div>
  </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {         
      
      //jCarousel Plugin
      $('#carousel').jcarousel({
        vertical: true,
        scroll: 1,
        auto: 2,
        wrap: 'last',
        // initCallback: mycarousel_initCallback,
        itemFallbackDimension: 300
      });

    //Front page Carousel - Initial Setup
      $('div#slideshow-carousel a img').css({'opacity': '0.5'});
      $('div#slideshow-carousel a img:first').css({'opacity': '1.0'});
      $('div#slideshow-carousel li a:first').append('<span class="arrow"></span>')

    
      //Combine jCarousel with Image Display
      $('div#slideshow-carousel li a').hover(
          function () {
              
            if (!$(this).has('span').length) {
              $('div#slideshow-carousel li a img').stop(true, true).css({'opacity': '0.5'});
              $(this).stop(true, true).children('img').css({'opacity': '1.0'});
            }   
          },
          function () {
              
            $('div#slideshow-carousel li a img').stop(true, true).css({'opacity': '0.5'});
            $('div#slideshow-carousel li a').each(function () {

              if ($(this).has('span').length) $(this).children('img').css({'opacity': '1.0'});

            });
              
          }
      ).click(function () {

              $('span.arrow').remove();        
        $(this).append('<span class="arrow"></span>');
            $('div#slideshow-main li').removeClass('active');        
            $('div#slideshow-main li.' + $(this).attr('rel')).addClass('active'); 
              
            return false;
      });


    });


    //Carousel Tweaking

    function mycarousel_initCallback(carousel) {
      
      // Pause autoscrolling if the user moves with the cursor over the clip.
      carousel.clip.hover(function() {
        carousel.stopAuto();
      }, function() {
        carousel.startAuto();
      });
    }

    function get_product_detail(property_id,variant_val) {
      
      $.ajax({
        method:'GET',
        url: "/get_property_product?property_id="+property_id+"&variant_val="+variant_val+"&id="+<%=@product.id%>
      }).done(function() {
        $( this ).addClass( "done" );
      });

    }    
</script>  