
    <div class="row-fluid breadcrumb-full-bg">
      <div class="container">
        <h1>Product Detail</h1>
        <ul class="breadcrumb pull-right">
          <li><a href="/">Home</a> <span class="divider">→</span></li>
          <li><a href="#">Brand</a> <span class="divider">→</span></li>
          <li><a href="#">Woman</a> <span class="divider">→</span></li>
          <li class="active"><%= @product.name %></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row" id="product_detail_box">
        <%=render partial: "/products/product_detail"%>
      </div>
      <div class="row">
        <%@designer = @product.user%>
        <%if @designer.present?%>
          <div class="span6 prd-designer">
            <h4>
              <div class="bot-blue-line-img"><img src="/assets/main/bot-blue-line.gif" alt=""></div>
              Designer: <span><%=@designer.name%></span></h4>
            <div class="designer-detail-prd"> <%if @designer.images.present?%><%=image_tag(@designer.images[0].photo(:small))%><%end%>
              <p><%=@designer.about_me%> </p>
            </div>
          </div>
        <%end%>
        <div class="span6 prd-designer">
          <h4>
            <div class="comp-right">HEIGHT OF MODEL: <span>180 CM</span></div>
            <div class="bot-blue-line-img"><img src="/assets/main/bot-blue-line.gif" alt=""></div>
            Composition:</h4>
          <div class="designer-detail-prd">
            <ul>
              <li class="color">OUTER SHELL</li>
              <li>66% POLYESTER, 30% VISCOSE, 4% ELASTANE</li>
              <li class="color">LINING</li>
              <li>100% POLYESTER</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  


  