
    <div class="row-fluid breadcrumb-full-bg">
      <div class="container">
        <h1>Product Detail</h1>
        <ul class="breadcrumb pull-right">
          <li><a href="/">Home</a> <span class="divider">→</span></li>
          <li><a href="#">Brand</a> <span class="divider">→</span></li>
          <li><a href="#">Woman</a> <span class="divider">→</span></li>
          <li class="active"><%= @product.name %></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="prd-left-list"> 
            <%@product.active_variants.each do |v|%>
              <%if v.image_group.present?%>
                <%if v.image_group.images.size > 3%>
                  <a href="#" class="top-arrow-prd arrow-prd-sprite"></a> 
                  <a href="#" class="bot-arrow-prd arrow-prd-sprite"></a>
                <%end%>
                <% v.image_group.images.each do |image|%>
                  <div class="prd-thumb"><a href="#"><%= image_tag(image.photo.url(:large)) %></a></div>
                <%end%>
              <%end%>
            <%end%>
            <!-- <div class="prd-thumb"> <a href="#"><img src="/assets/main/prd-tumb.jpg" alt=""></a> </div>
            <div class="prd-thumb"> <a href="#"><img src="/assets/main/prd-tumb.jpg" alt=""></a> </div>
            <div class="prd-thumb"> <a href="#"><img src="/assets/main/prd-tumb.jpg" alt=""></a> </div> -->
          </div>
          <div class="prd-big-img"> 
            
            <%if @product.images.present?%>
              <%= image_tag(@product.images[0].photo.url(:original),:width=>410) %>
            <%else%>
              <img src="/assets/main/prd-big-img.jpg" alt=""> 
            <% end %>
          </div>
        </div>
        <div class="span6 prd-detail">
          
          <h1>
            <%if current_user%>
              <%if @rock_product.present?%>
                <%=link_to image_tag("/assets/main/fav-icon-blue.png")+"Unfavorite",rock_product_path(@product,:unrock=>true),:remote=>true,:class=>"add-fav"%>
              <%else%>
                <%=link_to image_tag("/assets/main/fav-icon-blue.png")+" Add to favorites",rock_product_path(@product),:remote=>true,:class=>"add-fav"%>
              <%end%>
            <%else%>
              <%=link_to image_tag("/assets/main/fav-icon-blue.png")+" Add to favorites",login_path,:class=>"add-fav"%>
            <%end%>
            <%= @product.name %></h1>
          <div class="add-favted">
            <h3><img src="/assets/main/fav-icon-blue.png" alt=""> Favorited (<%=@product.product_rocks.size%>)</h3>
            <div class="favted-right"><span>5 review(s)</span> | <a href="#">Add Your Review</a></div>
          </div>
          <div class="prd-detail-cat">
            <label>Availability: <span>In Stock</span></label>
            <label>Product Code: <span>483512569</span></label>
            <label>Designer: <span>Allie Walden</span></label>
            <label>Shipping: <span>$12</span></label>
          </div>
          <div class="prd-detail-desc">
            <h4>Description:</h4>
            <p><%= raw @product.description %>
            </p>
          </div>
          <div class="prd-option">
            <!-- <select name="" class="width-160-select">
              <option>Select Color</option>
              <%colors  = @product.active_variants.map{|e| e.color}%>
              <%#if colors.present?%>
                <%# colors.each do |color|%>
                  <option style="background-color:<%#=color%>"><%#=color%></option>
                <%#end%>
              <%#end%>
            </select> -->
            <%@product.properties.each_with_index do |pro|%>
              <select name="">
                <option>Select <%=pro.display_name%></option>  
                <%pro.variant_properties.each do |v|%>
                  <option><%=v.description%></option>  
                <%end%>
            <%end%>
            <!-- <select name="">
              <option>Select Size</option>
            </select>
            <select name="" class="right">
              <option>1</option>
             </select>-->
          </div>
          <%= form_for  @cart_item,
                        :url  => shopping_cart_items_path(@cart_item),
                        :html => { :id => 'new_cart_item', :class => '' } do |f| %>
              <%= f.hidden_field :variant_id %>
              <div class=''>
              Quantity:
              <%= f.select :quantity, [1,2,3,4], {:include_blank => false}, {:class => ' '} %>
              </div>
              <div class='add_to_cart_wrapper '>
              </div>
              <div class="price-bag"> 
                <span>
                  <%= number_to_currency @product.active_variants.first.price %>
                </span>
                <% unless @product.active_variants.empty? %>
                  <%= link_to 'Add to Bag', '#', :id => 'submit_add_to_cart', :class => 'btn-bag' %>
                <% end %>
              </div>
          <% end %>
          <div class="prd-share">
            <div class="bot-blue-line-img"><img src="/assets/main/bot-blue-line.gif" alt=""></div>
            <span>Share:</span>
            <div class="share-div"><img src="/assets/main/share-img.gif" alt=""></div>
          </div>
        </div>
      </div>
      <div class="row">
        <%@designer = @product.user%>
        <%if @designer.present?%>
          <div class="span6 prd-designer">
            <h4>
              <div class="bot-blue-line-img"><img src="/assets/main/bot-blue-line.gif" alt=""></div>
              Designer: <span><%=@designer.name%></span></h4>
            <div class="designer-detail-prd"> <%=image_tag(@designer.images[0].photo(:small))%>
              <p><%=@designer.about_me%> </p>
            </div>
          </div>
        <%end%>
        <div class="span6 prd-designer">
          <h4>
            <div class="comp-right">HEIGHT OF MODEL: <span>180 CM</span></div>
            <div class="bot-blue-line-img"><img src="/assets/main/bot-blue-line.gif" alt=""></div>
            Composition:</h4>
          <div class="designer-detail-prd">
            <ul>
              <li class="color">OUTER SHELL</li>
              <li>66% POLYESTER, 30% VISCOSE, 4% ELASTANE</li>
              <li class="color">LINING</li>
              <li>100% POLYESTER</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  