
<% content_for :head do -%>
  <% if @registration %>
    <%= stylesheet_link_tag 'signup.css' %>
  <% else %>
    <%= stylesheet_link_tag 'login.css' %>
  <% end %>
  <%= stylesheet_link_tag 'cupertino/jquery-ui-1.8.12.custom' %>
<% end %>

<% content_for :bottom do -%>
  <%= javascript_include_tag 'jquery.datePicker-2.1.2', 'datePickerInitialize' %>
<% end %>
<% if @user_session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited you from logging in:</h2>

    <ul>
    <% @user_session.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @user.errors.any? %>
  <div id="error_explanation" class='error'>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg == "Password confirmation doesn't match Password" ? "Confirm password doesn't match with the password" : msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="row-fluid breadcrumb-full-bg">
  <div class="container">
    <h1>Login</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> <span class="divider">→</span></li>
      <li class="active">Login</li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="checkout-option">
    <div class="row">
      <div class="span12 checkout-header"><a href="#" class="arrow-checkout">&nbsp;</a>Login Options <img src="/assets/main/bot-line-checkout.gif" alt="" class="bot-line-checkout"> </div>
    </div>
    <div class="row">
      <div class="span6 new-customer">
        <h1>new customer</h1>
        <h5>Regiter with us for future convenience:</h5>
        <%= form_for @user, url: customer_registrations_path(@user), html: {class: 'custom',style: 'margin:auto'}  do |form| %>
          <%= form.text_field :first_name ,:placeholder=>"First Name"%>
          <%= form.text_field :last_name ,:placeholder=>"Last Name"%>
          <%= form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off' ,:placeholder=>"Email" %>
          <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off' ,:placeholder=>"Password" %>
          <%= form.password_field :password_confirmation, :autocomplete => 'off', :autocapitalize => 'off' ,:placeholder=>"Confirm Password" %>
          <%= form.submit "Register", :class => 'button btn-commen-blue-inp inp-btn-170' %>
        <%end%>
      </div>
      <div class="span6">
        <h1>Registered customers</h1>
        <h5>If you have an account with us, please log in.</h5>
        <%= form_for  @user_session, :as => :user_session,:url => user_sessions_path(@user_session),:html => {:class => 'span-12 custom',style: 'margin:auto'} do |form| %>
          <%= form.email_field :email,:placeholder=>"User Name"%><!-- , :autocomplete => 'off', :autocapitalize => 'off'  -->
          <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off' ,:placeholder=>"Password"%>
          <div class="row-fluid login-btn">
            <%= form.submit "Log In", :class => 'button btn-commen-blue-inp inp-btn-170' %>
            <!--  <span>
             <input name="" type="checkbox" value="" class="no-class">
            Remember password</span>  -->
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>