<div class="span6 ">
  <h1>Delivery Details</h1>
  <h5>Enter your delivery details below:</h5>
    <%= f.text_field :first_name, :class => '' ,:placeholder=>"First Name" %>
    <%= f.text_field :last_name, :class => '',:placeholder=>"Last Name"  %>
    <%= f.text_field :address1 ,:placeholder=>"Delivery Address " %>
    <%= f.text_field :address2 ,:placeholder=>"Delivery Address " %>
    <%= f.text_field :city,:placeholder=>"City" %>
    <%= f.select   :state_id, @states,{:include_blank => true, :prompt => "State"} %>    
    <%= f.hidden_field   :country_id %>
    <%= f.select   :country_id, select_countries,
                          :include_blank => true ,:prompt=> "Country" %><br/>
    <%= f.text_field :zip_code ,:placeholder=>"Zip Code" %>
    <div class="row-fluid privacy-option">
      <%= f.check_box :default, :class => 'no-class' %>
        Make this my default shipping address
    </div>
    <%= f.submit 'Continue', :class => 'button btn-commen-blue-inp inp-btn-170' %>
</div>
  