<div class="row-fluid breadcrumb-full-bg">
  <div class="container">
    <h1>Check Out</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="#">Home</a> <span class="divider">→</span></li>
      <li class="active">Checkout</li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="checkout-option">
    <div class="row">
      <div class="span12 checkout-header"><a href="#" class="arrow-checkout">&nbsp;</a>Delivery Details <img src="/assets/main/bot-line-checkout.gif" alt="" class="bot-line-checkout"> </div>
    </div>
    <div class="row">
      <div class="span6 new-customer">
        <% if  @shopping_addresses.empty? %>
          <h1>New Address</h1>
        <% else %>
          <h1>Pick a Shipping Address</h1>
        <% end %>
        <% @shopping_addresses.each do |shopping_address| %>
          <div class='four large-4 columns last box'>
            <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => shopping_address} %>
            <br/><br/>
            <%= button_to 'Use', select_address_shopping_address_path(shopping_address), :class => 'button spade inline-block btn-commen-blue-inp inp-btn-170', :method => :put %>
            <%= link_to 'Edit', edit_shopping_address_path(shopping_address) %> Or 
            <%= link_to 'Delete', shopping_address_path(shopping_address), :data => {:confirm => 'Are you sure?'}, :method => :delete %> This Address
          </div>
          <hr style='color:#aac'/>
        <% end %>
        <% if session_order.ready_to_checkout? %>
          <%= link_to 'Order Summary', shopping_orders_path, :class => 'button success' %>
        <% end %>
      </div>
      
          <%= form_for @shopping_address, url: shopping_addresses_path, html: {class: 'custom'} do |address_form| %>
            <%= render :partial =>  'form', :locals => {:f => address_form}  %>
      <% end %>
    </div>
  </div>
</div>