<section>
<div class="row-fluid breadcrumb-full-bg">
      <div class="container">
        <h1>My Profile</h1>
        <ul class="breadcrumb pull-right">
          <li><a href="#">Rock Credits: 50</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="my-profile">
        <div class="row">
          <div class="span8 my-prf-header">
            <h1>
              <div class="prf-right">
                <div class="style-prf"> Style: <small>3</small> </div>
                <div class="style-prf"> Rocks: <small>37</small> </div>
                <div class="prd-detail-rating"><a href="#"><img alt="" src="/assets/img/rating-gray-active.png"></a> <a href="#"><img alt="" src="/assets/img/rating-gray-active.png"></a> <a href="#"><img alt="" src="/assets/img/rating-gray-active.png"></a> <a href="#"><img alt="" src="/assets/img/rating-gray.png"></a> <a href="#"><img alt="" src="/assets/img/rating-gray.png"></a></div>
              </div>
              <span><%=current_user.first_name%> <%=current_user.last_name%></span></h1>
            <div class="row profile-detail">
              <div class="span2"><%if current_user.images.present?%>
                  <%= image_tag current_user.images[0].photo.url(:medium), :width => "150px"%>
                <%else%>
                  N/A
                <%end%></div>
              <div class="span6">
                <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget 
                  vulputate tortor. Nulla lacus enim, scelerisque nec urna cursus cursus diam. 
                  Sed nec arcu varius, vulputate tortor nec, dictum nibh. Duis tellus massa, 
                  malesuada non purus eu, aliquet ornare elit. </p>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="profil-tab-right">
              <h1><span>My Profile</span></h1>
              <ul>
                <li><a href="#">Inbox<span>23</span></a></li>
                <li><a href="#">Rocking<br/><em>(User Following)</em><span>123</span></a></li>
                <li><a href="#">Rockers<br/><em>(Followers of the User)</em><span>37</span></a></li>
                <li><a href="#">Favorites<span>81</span></a></li>
                <li><a href="#">Rock Credits<span>50</span></a></li>
                <li><a href="#">Listings<span>4</span></a></li>
                <li class="new-list"><a href="#">List New item<span class="add-icon">&nbsp;</span></a></li>
                <li><a href="#">Sale History<span>2</span></a></li>
                <li><a href="#">Purchase History<span>5</span></a></li>
                <li><a href="#">Reviews<span>2</span></a></li>
                <li><a href="#">Update Profile <span class="edit-text">Edit</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="sale-listing">
          <div class="row">
            <div class="span12 sale-header white-line">
              <div class="pre-next"> <a class="pre" href="#">Pre</a> <a class="next" href="#">Next</a></div>
              <h1><span>Purchase History</span></h1>
            </div>
          </div>
                    <div class="row-fluid">
            
            <%@products.each_with_index do |product,index|%>
              
              <%=render partial: "products/product",locals: {product: product,:variant=> nil}%>
             
            <%end%>
          </div>
          <div class="row">
            <% if @products.size != 0 %>
        <div class="span3 paging-show"><%= page_entries_info @products %></div>
        <!--Paging Section Starts here-->
        <div class="pagination pagination-right pagination_dev">

            <%= will_paginate @products, :container => false %>
        </div>
        <!--Paging Section Ends here--> 
        <%end%>

          </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>