<div class="navbar">
        <div class="navbar-inner relative">
          <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#"></a>
            <div class="nav-collapse collapse top-nav">
              <ul class="nav">
                <li class="dropdown active"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= t(:brands) %> <b class="caret">  </b></a>
                  <div class="dropdown-menu">
                    <div class="drop-down-hd">
                      <h3><%= t(:brands) %></h3>
                      <a href="#" class="clear-all">Cleare all</a>
                    </div>
                    <%@brands.each do |b_group|%>

                    <div class="span2">
                      <ul>
                        <%b_group.each do |brand|%>
                          <%if brand.present?%>
                            <li><%=link_to brand.present? ? brand.name : '' ,brand_products_path(brand)%></li>
                          <%end%>
                        <%end%>
                      </ul>
                    </div>
                    <%end%>
                    
                  </div>
                </li>

                <%@product_category_on_main_menu.each do |cat|%>
                <li class="dropdown "> <a data-toggle="dropdown" class="dropdown-toggle" href="<%= cat_products_path(cat,:parent=>true) %>"><%= cat.name%> <b class="caret">  </b></a>
                  <div class="dropdown-menu">
                    <div class="drop-down-hd">
                      <h3><%=link_to cat.name,cat_products_path(cat,:parent=>true),:style=>"color: #ECF5F5;" %></h3>
                      <a href="#" class="clear-all">Cleare all</a>
                    </div>
                    <%cat.sub_categories.in_groups_of(6).each do |sub_cat|%>
                      <div class="span2">
                        <ul>
                          <%sub_cat.each do |ct|%>
                            <%if ct.present?%>
                              <li><%=link_to ct.present? ? ct.name : '' ,cat_products_path(ct)%></li>
                            <%end%>
                          <%end%>
                        </ul>
                      </div>
                    <%end%>
                    
                  </div>
                </li>
                  <!-- <li><a href="<%#=cat_products_path(cat)%>"><%#= cat.name%></a></li> -->
                <%end%>
                <li><a href="<%=on_sale_products_path%>"><%= t(:sale)%></a></li>
                <li><a href="<%=hot_products_path%>"><%= t(:hot)%></a></li>
                <li><a href="<%=blogs_path%>"><%= t(:blog)%></a></li>
                <%# if @designer != nil %>
                  <!--<li><a href="/designers">Designers</a></li>-->
                <%#end%>
              </ul>
            </div>
            <div class="span2 pull-right search-top">
            <%=form_tag ("/search"),:method => "GET" do%>
              <%=text_field_tag "q" ,"#{params[:q].present? ? params[:q] : ''}",placeholder: "Search here"%>
              <%=submit_tag "",id: "search_submit",style:"display:none"%>
              <a href="javascript:void(0)" onclick="$('#search_submit').click();"><img src="/assets/main/search-icon.png" alt=""></a> 
            <%end%>
            </div>

          </div>
        </div>
      </div>