<div class="navbar">
        <div class="navbar-inner relative">
          <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#"></a>
            <div class="nav-collapse collapse top-nav">
              <ul class="nav">
                <li class="dropdown active"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= t(:brands) %> <b class="caret"></b></a>
                  <div class="dropdown-menu">
                    <div class="drop-down-hd">
                      <h3><%= t(:brands) %></h3>
                      <a href="#" class="clear-all">Cleare all</a>
                    </div>
                    <%@brands.each do |b_group|%>

                    <div class="span2">
                      <ul>
                        <%b_group.each do |brand|%>
                          <li><%=link_to brand.present? ? brand.name : '' %></li>
                        <%end%>
                      </ul>
                    </div>
                    <%end%>
                    
                  </div>
                </li>
                <li><a href="#"><%= t(:style)%></a></li>
                <li><a href="#"><%= t(:gender)%></a></li>
                <li><a href="#"><%= t(:hot)%></a></li>
                <li><a href="#"><%= t(:sale_menu)%></a></li>
                <li><a href="#"><%= t(:hot_menu)%></a></li>
                <li><a href="<%=blogs_path%>"><%= t(:blog)%></a></li>
              </ul>
            </div>
            <div class="span2 pull-right search-top">
            <input name="" type="text" value="Search here"><a href="#"><img src="/assets/main/search-icon.png" alt=""></a> </div>
          </div>
        </div>
      </div>