<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
<title>:: Mad Dot ::</title>
  <%#= stylesheet_link_tag "normalize.css" %>
  <%#= stylesheet_link_tag "foundation_and_overrides.css" %>
  <%#= stylesheet_link_tag 'site/app.css' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'vendor/custom.modernizr' %>
  <%= csrf_meta_tag %>
  <%= render 'shared/metadata' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script type="text/javascript">
    $(document).ready(function() {    
      $('#flash').fadeOut(5000);
    });

    $(document).on({
      ajaxStart: function() {        
        $("#infscr-loading").css("display","block")
      },
      ajaxStop: function() {
        $("#infscr-loading").css("display","none")
      }
    });
  </script>  
</head>
<body>
<div id="main-container"> 
  <!--Header Starts here-->
  <header>
    <div class="row-fluid top-login">
      <div class="container">
          <div id="infscr-loading" style="display:none;" >
            <%=image_tag "/assets/ajax-loading.gif",:alt=>"Loading...",:id=>"loadimg"%>
            <div><em>Loading.....</em></div>
          </div>
          
          <% unless current_user %>
            <div class="span6 pull-left ">
                Welcome to MadDot, you can <%= link_to t(:login_link),  login_path %> or
                <a href="<%=login_path%>">create an account</a>
              </p>
            </div>
            <% else %>
              <div class="span8 top-menu">
                <a href="/"><img src="/assets/main/home-icon.png">&nbsp;<%=t(:home)%></a> 
                <% if current_user.designer? %>
                    <a href="/designers/<%=current_user.id%>"><img src="/assets/main/my-prf-icon.png" alt="">&nbsp;<%=t(:my_profile)%></a>
                <%else%>
                    <a href="<%=myaccount_overview_path%>"><img src="/assets/main/my-prf-icon.png" alt="">&nbsp;<%=t(:my_profile)%></a>
                <%end%>
                <a href="<%=my_favorites_path%>"><img src="/assets/main/my-fav-icon.png" alt="">&nbsp;<%=t(:my_favorites)%></a>
                <a href="/shopping/cart_items"><img src="/assets/main/shp-bag-icon.png" alt="">&nbsp;<%=t(:shoping_bag)%> (<%if @cart_items.present?%><%=@cart_items.size%><%else%>0<%end%>)</a>
                <% if current_user.admin? || current_user.designer? %>
                  &nbsp;<%= link_to t(:admin_link), admin_path %>
                <% end %>
                &nbsp;<%= link_to t(:logout_link), logout_path, method: :delete %>
              </div>
            <%end%>            
        <div class="span4 pull-right">
          <ul class="top-language">
            <li class="last " style="float:right">
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle white remove-background" data-toggle="dropdown">
                    USD
                    <i><img src="/assets/main/down-arrow.png" alt=""></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="<%if session[:lang] == "en"%>active<%end%>" style="width:100%">
                      <%= link_to "AUD",change_language_path(:new_locale => "en")%>
                    </li>
                    <li class="<%if session[:lang] == "pt"%>active<%end%>" style="width:100%">
                      <%= link_to "ERO",change_language_path(:new_locale => "cn")%>
                    </li>
                    <li class="<%if session[:lang] == "de"%>active<%end%>" style="width:100%">
                      <%= link_to "USD",change_language_path(:new_locale => "tcn")%>
                    </li>
                  </ul>
              </div>  
            </li>
            <li class=""  style="float:right">
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle white remove-background" data-toggle="dropdown">
                    <%if session[:lang] == "en"%><%=t(:english_lang)%><%elsif session[:lang] == "cn"%><%=t(:simple_chines_lang)%><%elsif session[:lang] == "tcn"%><%=t(:traditional_chines_lang)%><%else%>English<%end%>
                    <i><img src="/assets/main/down-arrow.png" alt=""></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="<%if session[:lang] == "en"%>active<%end%>" style="width:100%">
                      <%= link_to t(:english_lang),change_language_path(:new_locale => "en")%>
                    </li>
                    <li class="<%if session[:lang] == "cn"%>active<%end%>" style="width:100%">
                      <%= link_to t(:simple_chines_lang),change_language_path(:new_locale => "cn")%>
                    </li>
                    <li class="<%if session[:lang] == "tcn"%>active<%end%>" style="width:100%">
                      <%= link_to t(:traditional_chines_lang),change_language_path(:new_locale => "tcn")%>
                    </li>
                  </ul>
              </div>  
              <!-- <a href="#">English</a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row-fluid logo-main">
      <div class="container">

        <div class="span4 logo"><a href="/"><img src="/assets/main/logo-mad-dot.png" alt=""></a></div>          
        <%if current_user%>
          <!--Shopping Bag Section Starts here-->
          <%=render partial: "/shopping/cart_items/home_cart_items"%>
          <!--Shopping Bag Section Ends here-->
        <%else%>
          <div class="span5 pull-right resister-field">            
            <%= form_for  @user_session, :as => :user_session,:url => user_sessions_path(@user_session),:html => {:class => 'span-12 custom'} do |form| %>
              <div class="resister-field-left">
                <%= form.email_field :email,:placeholder=> "Email"%>
                <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off',:placeholder=> "Password" %>
              </div>
              <div class="resister-field-right">
                <!-- <input class="register" name="" type="button" value="Register"> -->
                <%=link_to '<input class="register" name="" type="button" value="Register">'.html_safe,"/login"%>
                <%= form.submit "Login", :class => 'login' %>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
    <div class="container">
      <%=render partial: "/layouts/main_menu"%>
    </div>
    <!-- Slider Start here-->
    <!-- Slider End here--> 
  </header>
  <!--Header Ends here--> 
  
  <!--Section Starts here-->
  <section>
    <% if flash.present? %>
      <%flash.each do |type,message|%>
        <div id="flash" >          
          <div class="message_<%=type %>" style="z-index:1000p; color:red"><%= message.titleize.gsub("<Br/>","<br/>").html_safe if message.present?%></div>
          <%flash.discard(type) %>
        </div>
      <%end%>
    <% end %>
    <%=yield%>
  </section>
  <!--Section Ends here--> 
  
  <!--Footer Starts here-->
  <%=render partial: "/layouts/footer"%>
  <!--Footer Ends here--> 
  
</div>

</body>
</html>
